.footer {
  background: linear-gradient(to bottom, #0f1c34 , #0d111b);
  color: white;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

.footer-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-icons a {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
  color: #9533ff;
  transform: scale(1.2);
}

.footer-line {
  width: 80%;
  margin: 20px auto;
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #9533ff, transparent);
}

.footer-text {
  font-size: 1rem;
  margin-top: 10px;
  color: #ccc;
}

.footer-text .heart {
  color: red;
}
