.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0c1326;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  z-index: 1000;
  align-content: center;
  backdrop-filter: blur(10px);
  height: 7%;
  scroll-behavior: smooth;
}

.header-container {
  width: 95%;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
  padding-right: 25px;
}

.nav-links a {
  position: relative;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #d697eb;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #d697eb;
}

.nav-links a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: #0a1127;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    display: none;
    z-index: 100;
  }
  .nav-links.open {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}