* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0; 
  overflow-x: hidden;
}

#home {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background: #0a1127;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background: none;
  z-index: auto;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: white;
  text-align: center;
}

.name {
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 60px;
}

.highlight {
  color: #d697eb;
}

.subtitle {
  color: #edf5fd;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 35px;
}

.social-icons {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.icon-link {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.icon-link:hover {
  transform: rotate(15deg);
  filter: drop-shadow(0 0 8px #d697eb);
  color: white;
}

.resume-text {
  font-size: 12px;
  display: block;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .name {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 1.7rem;
  }
  .social-icons {
    gap: 20px;
  }
  .resume-text {
    font-size: 11px;
  }
}

/* For small tablets and large phones */
@media (max-width: 768px) {
  .name {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .social-icons {
    gap: 15px;
  }
  .resume-text {
    font-size: 10px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .name {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .social-icons {
    gap: 12px;
  }
  .resume-text {
    font-size: 9px;
  }
}